.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  justify-items: center;
}

.label {
  font-weight: bold;
  font-size: larger;
}
.input-box {
  height: 40px;
  width: 80px;
}
.container {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

.section2 {
  width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: start;
}
.flex-section {
  display: flex;
  flex-direction: row;
}
